@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(234, 29%, 20%);
    color: hsl(234, 29%, 20%);
    max-width: 1440px; 
}

.container {
    max-width:50%;
    height:30%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    background-color: hsl(0, 0%, 100%);
    grid-template-columns: 50% 45%;
    gap: 5%;
    margin-top:5rem;
    border-radius: 1rem;
}

.left{
    padding-top:10%;
    padding-bottom: 10%;
    padding-left: 10%;
}

h1 {
    color: hsl(235, 18%, 26%); 
    width: 100%;
    font-weight: 700px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

#sub-title{
    margin-bottom: 1rem;
}

.listing{
    display: grid;
    grid-template-columns: 7% 90%;
    gap:3%;
    margin-bottom: .5rem;
   
}

.form-group{
    margin-top: 1rem;
}
.email-input{
   width:100%;
   height:2.5rem;
   margin-bottom: 1rem;
   border: 1px solid hsl(231, 7%, 60%);
   border-radius: .2rem;
   outline: none;
   text-indent: 1rem;
}

.input-header{
    display: flex;
    justify-content: space-between;
}

.email-input:focus{
    outline: 1px solid hsl(235, 18%, 26%);
}

.error-message{
    font-size: 11px;
    font-weight:bold;
    color: hsl(4, 100%, 67%);
}

.email-label{
    font-size: 11px;
    font-weight:bold;
}
.submit-btn{
    width: 100%;
    height: 2.6rem;
    background-color:hsl(235, 18%, 26%);
    color:hsl(0, 0%, 100%);
    border:none;
    border-radius: .2rem;
    font-weight: 400;
    transition: 0.5s;
}

button:hover{
    background-color: hsl(4, 100%, 67%);
    cursor: pointer;
    box-shadow: 0px 10px 7px hsl(4, 100%, 85%);
    

}


p {
    font-size: 13px; 
    color: hsl(234, 29%, 20%); 

}

.form-group {
    margin-bottom: 20px;
    text-align: left; 
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}



.error {
    color: red;
}

@media screen and (max-width:376px){
    body{
        background-color: white;
    }
    .container {
        margin-top: 0%;
        display: grid;
        grid-template-columns: 100%;
        gap: 1%;
        max-width:100%;
        padding: 0%;
        border-radius: 0%;
    }

    .right{
        order:1;

    }
    .left{
        order:2;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0;
        padding-top: 5px;

        
    }

    .hero{
       margin-top:-10px;
       margin-left: -5px;
       margin-right: -5px;
    }
    
    .listing{
        margin-bottom: 1.5rem;
    }

    p{
        font-size: 17px;
    }

}