body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 0%);
    color: hsl(234, 29%, 20%);
    max-width: 1440px; 
}

.container {
    max-width:50%;
    height:30%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    background-color: hsl(0, 0%, 100%);
    grid-template-columns: 55% 45%;
    margin-top:5rem;
}

h1 {
    color: hsl(4, 100%, 67%); 
}

p {
    font-size: 16px; 
    line-height: 1.5;
    margin-bottom: 20px;
    color: hsl(231, 7%, 60%); 
}

.form-group {
    margin-bottom: 20px;
    text-align: left; 
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 5px;
    box-sizing: border-box;
}

.error {
    color: red;
}

.container p {
    position: relative;
    padding-left: 20px; 
}

